@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --font-color: #fff;
  --background-color: #002933;
  --surface-color: #034252;
  --primary-color: #00CCFF;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Righteous', cursive;
  color: var(--font-color);
  background-color: var(--background-color);
  text-align: center;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: #000;
    --background-color: #fff;
    --surface-color: #eee;
    --primary-color: #00CCFF;
  }
}
